<!--<mat-nav-list> <mat-list-item label="Test">Home</mat-list-item>-->
<!--    <mat-list-item label="Test">Users</mat-list-item>-->
<!--    <mat-list-item label="Test">Matches</mat-list-item>-->
<!--</mat-nav-list>-->

<div class="bg-primary p-2" style="color: white">
  <div class="container">
    <div class="row">
      <a class="col-1 btn">Home</a>
      <a class="col-1 btn">User</a>
      <a class="col-1 btn">Matches</a>
    </div>
  </div>
</div>
<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
